@charset "UTF-8";
@use "./util" as *;
@use "./base" as *;

.melareturn{overflow: auto hidden; min-width: calc(1440px + 40px * 2); font-size: $body-fz; font-weight: 400; line-height: $base-line-height; color: $base-color;}

.melareturn section{padding: 120px 0;}
.melareturn .inner{margin: 0 auto; width: 1440px;}

.melareturn .c-primary{color: #34425C;}
.melareturn .highlight{background-color: var(--color-background-highlight);}
.melareturn .underline{position: relative; z-index: 0;}
.melareturn .underline::before{content: ''; display: block; position: absolute; left: 0; bottom: -2px; width: 100%; height: 18px; background-color: #BCE0F6; z-index: -1;}

.melareturn .sec-tit-wrap{margin-bottom: 50px; text-align: center;}
.melareturn .sec-tit-wrap.right{text-align: right;}
.melareturn .sec-tit-wrap .sec-tit{font-size: 50px; font-weight: 200;}
.melareturn .sec-tit-wrap .sec-tit strong{font-weight: 700;}
.melareturn .sec-tit-wrap .sec-tit ~ .desc{margin-top: 20px;}
.melareturn .sec-tit-wrap .desc{font-size: 18px; color: rgba(52, 66, 92, 0.7);}
.melareturn .sec-tit-wrap .sub-tit{font-size: 50px;}
.melareturn .sec-tit-wrap:has([class*="ico-"]) .sub-tit{display: flex; gap: 10px; align-items: center; justify-content: center;}

.melareturn .img-wrap img{width: 100%; height: 100%; object-fit: cover;}

.melareturn .f-paperlogy{font-family: 'paperlogy', sans-serif;}
.melareturn .f-shiningstar{font-family: 'Cafe24 Shiningstar', sans-serif;}

//ico
[class*="ico-"]::before{content: ''; display: block; background-repeat: no-repeat; background-size: 100% auto; background-position: center;}
.ico{
	// $banner-icons: 'info', 'alarm';

	// @each $icon in $banner-icons{
	// 	&-banner-#{$icon}::after{
	// 		flex-shrink: 0;
	// 		width: 72px;
	// 		height: 72px;
	// 		background-image: url('#{$base-url}img/ico-banner-#{$icon}.png');
	// 	}
	// }
	&-check::before{width: 40px; height: 40px; background-image: url('#{$base-url}img/ico-check.png');}

	@for $i from 1 through 3 {
		$name: part;
    &-#{$name}#{$i}::before{
			width: 50px;
			height: 50px;
      background-image: url('#{$base-url}img/ico-#{$name}#{$i}.png');
    }
  }

	@for $i from 1 through 5 {
		$name: part;
    &-#{$name}#{$i}::before{
			width: 24px;
			height: 24px;
      background-image: url('#{$base-url}img/ico-#{$name}#{$i}.png');
    }
  }

	// @for $i from 1 through 10 {
  //   &-detail#{$i}::after{
	// 		order: -1;
	// 		width: 24px;
	// 		height: 24px;
  //     background-image: url('#{$base-url}img/ico-detail#{$i}.png');
  //   }
  // }
}

.melareturn :has(.deco-txt) .inner{position: relative;}
.melareturn .deco-txt{font-family: 'GmarketSans', sans-serif; font-size: 120px; font-weight: 700; color: rgba(52, 66, 92, 0.2);}
.melareturn .deco-txt.left{position: absolute; top: 0; left: 0; transform: rotate(90deg);}
.melareturn .deco-txt.right{position: absolute; bottom: 0; right: 0;  transform: rotate(-90deg);}

.melareturn .comparison-list li{display: flex; gap: 20px; margin-bottom: 50px;}
.melareturn .comparison-list li:last-child{margin-bottom: 0;}
.melareturn .comparison-list li .comparison-img-wrap{overflow: hidden; flex: 1; border-radius: 20px;}
.melareturn .comparison-list li .comparison-img-wrap .img-wrap{position: relative;}
.melareturn .comparison-list li .comparison-img-wrap .img-wrap::before{content: ''; display: block; width: 100%; padding-top: 57.14%;}
.melareturn .comparison-list li .comparison-img-wrap .img-wrap img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.melareturn .comparison-list li .comparison-img-wrap .txt-wrap{padding: 16px 20px; font-size: 24px; font-weight: 700; text-align: center;}
.melareturn .comparison-list li .comparison-img-wrap.before .txt-wrap{background-color: #ddd;}
.melareturn .comparison-list li .comparison-img-wrap.after .txt-wrap{background-color: #BCE0F6;}

// content
.melareturn .sec-kv{}
.melareturn .sec-kv .tit-wrap{}
.melareturn .sec-kv .tit-wrap .sub-txt{margin-bottom: 20px; font-size: 30px;}
.melareturn .sec-kv .tit-wrap .tit{font-size: 100px; line-height: 1.2;}
.melareturn .sec-kv .tit-wrap .tit strong{font-weight: 600;}
.melareturn .sec-kv .tit-wrap .part-list{display: flex; gap: 30px; margin-top: 60px;}
.melareturn .sec-kv .tit-wrap .part-list li{display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 4px; width: 120px; height: 120px; background-color: rgba(255, 255, 255, 0.5); font-size: 18px;}
.melareturn .sec-kv .img-wrap{}

.melareturn .sec-banner{}
.melareturn .sec-banner .txt-wrap{text-align: center;}
.melareturn .sec-banner .txt-wrap .txt{font-size: 40px; font-weight: 200;}
.melareturn .sec-banner .txt-wrap .txt.large{margin-top: 30px; font-size: 50px; font-weight: 200;}
.melareturn .sec-banner .txt-wrap .quotes{font-family: 'Gmarket Sans', sans-serif; font-size: 60px; font-weight: 700;}

.melareturn .sec-01{}
.melareturn .sec-01 .box-wrap{display: grid; grid-template-columns: repeat(2, 1fr); gap: 40px;}
.melareturn .sec-01 .box-wrap .box{overflow: hidden; border-radius: 30px;}
.melareturn .sec-01 .box-wrap .box .comparison-img-wrap{position: relative; display: flex; height: 650px;}
.melareturn .sec-01 .box-wrap .box .comparison-img-wrap::before{content: ''; display: block; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 6px; height: 100%; background-color: #BCE0F6;}
.melareturn .sec-01 .box-wrap .box .comparison-img-wrap::after{content: ''; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80px; height: 80px; @include bg('ico-arrow.png');}
.melareturn .sec-01 .box-wrap .box.full{grid-column: 1/-1;}
.melareturn .sec-01 .txt-wrap{padding: 16px 40px; font-size: 24px; font-weight: 700; color: #34425C; text-align: center; background-color: #BCE0F6;}

.melareturn .sec-02{}
.melareturn .sec-02 .thumb-list{display: flex; justify-content: center; gap: 30px;}
.melareturn .sec-02 .thumb-list li{overflow: hidden; position: relative; border-radius: 30px;}
.melareturn .sec-02 .thumb-list li img{width: 100%; height: 100%; object-fit: contain;}

.melareturn .sec-03{background-color: #DEF3FF; padding: 60px 0 0;}
.melareturn .sec-03 .inner{position: relative;}
.melareturn .sec-03 .sec-tit-wrap{position: absolute; top: 160px; right: 0;}
.melareturn .sec-03 .info-wrap{}
.melareturn .sec-03 .info-wrap .img-wrap{}
.melareturn .sec-03 .deco-txt.right{bottom: calc(50% + 90px); transform-origin: bottom right 0;}

.melareturn .sec-03 .info-wrap .tag-wrap{}
.melareturn .sec-03 .info-wrap .tag-wrap li{position: absolute; display: flex; align-items: center; justify-content: center; width: 140px; height: 50px; font-size: 20px; font-weight: 700; color: #fff; border-radius: 100px; background-color: #34425C;}
.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(1){top: 456px; left: 113px;}
.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(2){top: 535px; right: 231px;}
.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(3){bottom: 424px; right: 288px;}
.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(4){bottom: 94px; right: 218px;}

.melareturn .sec-04 .comparison-list{}
.melareturn .sec-04 .comparison-list li{position: relative; display: flex; gap: 20px; margin-bottom: 50px;}
// .melareturn .sec-04 .comparison-list li:last-child{margin-bottom: 0;}
.melareturn .sec-04 .comparison-list li::after{content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 60px; height: 60px; @include bg('ico-arrow-2.png');}
// .melareturn .sec-04 .comparison-list li .comparison-img-wrap{overflow: hidden; flex: 1; border-radius: 20px;}
// .melareturn .sec-04 .comparison-list li .comparison-img-wrap .img-wrap{position: relative;}
// .melareturn .sec-04 .comparison-list li .comparison-img-wrap .img-wrap::before{content: ''; display: block; width: 100%; padding-top: 57.14%;}
// .melareturn .sec-04 .comparison-list li .comparison-img-wrap .img-wrap img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
// .melareturn .sec-04 .comparison-list li .comparison-img-wrap .txt-wrap{padding: 16px 20px; font-size: 24px; font-weight: 700; color: #34425C; text-align: center;}
// .melareturn .sec-04 .comparison-list li .comparison-img-wrap.before .txt-wrap{background-color: #ddd;}
// .melareturn .sec-04 .comparison-list li .comparison-img-wrap.after .txt-wrap{background-color: #BCE0F6;}

.melareturn .sec-05{}
.melareturn .sec-05 .comparison-list{}
.melareturn .sec-05 .comparison-list li{}
.melareturn .sec-05 .comparison-list li .comparison-img-wrap{position: relative;}
.melareturn .sec-05 .comparison-list li .comparison-img-wrap .txt-wrap{position: absolute; bottom: 0; left: 0; padding: 22px 40px; min-width: 180px; font-family: 'Gmarket Sans', sans-serif; text-align: left; border-top-right-radius: 30px;}
.melareturn .sec-05 .comparison-list li .comparison-img-wrap.before .txt-wrap{background-color: #fff;}
.melareturn .sec-05 .comparison-list li .comparison-img-wrap .color-list{position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}
