/* reset */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

img {
  border: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
figure,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
form,
fieldset,
blockquote,
iframe {
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  word-break: keep-all;
}

em,
i,
address,
cite {
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-DemiLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Paperlogy";
  src: url("../font/Paperlogy-3Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Paperlogy";
  src: url("../font/Paperlogy-4Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Paperlogy";
  src: url("../font/Paperlogy-6Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../font/GmarketSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../font/GmarketSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../font/GmarketSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Shiningstar";
  src: url("../font/Cafe24Shiningstar-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.melareturn {
  overflow: auto hidden;
  min-width: 1520px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #34425C;
  background-color: #fff;
}

.melareturn strong {
  font-weight: 700;
}

.melareturn section {
  padding: 120px 0;
}

.melareturn .inner {
  margin: 0 auto;
  width: 1440px;
}

.melareturn .c-primary {
  color: #34425C;
}

.melareturn .highlight {
  position: relative;
}

.melareturn .highlight::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -2px;
  width: calc(100% + 8px);
  height: calc(100% + 6px);
  background-color: #fff;
  z-index: -1;
}

.melareturn .highlight.blue::before {
  background-color: #BCE0F6;
}

.melareturn .underline {
  position: relative;
  z-index: 0;
}

.melareturn .underline::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 18px;
  background-color: #BCE0F6;
  z-index: -1;
}

.melareturn .sec-tit-wrap {
  margin-bottom: 50px;
  text-align: center;
}

.melareturn .sec-tit-wrap.right {
  text-align: right;
}

.melareturn .sec-tit-wrap .sec-tit {
  font-size: 50px;
  font-weight: 300;
}

.melareturn .sec-tit-wrap .sec-tit strong {
  font-weight: 700;
}

.melareturn .sec-tit-wrap .sec-tit ~ .desc {
  margin-top: 20px;
}

.melareturn .sec-tit-wrap .desc {
  font-size: 18px;
  color: rgba(52, 66, 92, 0.7);
}

.melareturn .sec-tit-wrap .sub-tit {
  font-size: 50px;
}

.melareturn .sec-tit-wrap:has([class*=ico-]) .sub-tit {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.melareturn .sec-tit-wrap .tag {
  padding: 14px 30px;
  margin: 0 auto 20px;
  width: fit-content;
  font-family: "GmarketSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #34425C;
  border-radius: 100px;
}

.melareturn .tit {
  font-size: 32px;
}

.melareturn .tit.large {
  font-size: 50px;
}

.melareturn .notice-txt {
  font-size: 18px;
  color: rgba(52, 66, 92, 0.8);
}

.melareturn .img-wrap {
  font-size: 0;
}

.melareturn .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.melareturn .f-paperlogy {
  font-family: "Paperlogy", sans-serif;
}

.melareturn .f-shiningstar {
  font-family: "Cafe24Shiningstar", sans-serif;
}

.melareturn .blind {
  overflow: hidden;
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  border: 0;
  z-index: -1;
}

.melareturn .deco-txt {
  font-family: "GmarketSans", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: rgba(52, 66, 92, 0.2);
}

.melareturn .deco-txt.left {
  position: absolute;
  top: 200px;
  left: 0;
  transform: rotate(90deg);
}

.melareturn .deco-txt.right {
  position: absolute;
  bottom: 240px;
  right: -70px;
  transform: rotate(90deg);
}

.melareturn .comparison-list > li {
  position: relative;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.melareturn .comparison-list > li:last-child {
  margin-bottom: 0;
}

.melareturn .comparison-list > li .comparison-img-wrap {
  overflow: hidden;
  flex: 1;
  border-radius: 20px;
}

.melareturn .comparison-list > li .comparison-img-wrap .img-wrap {
  overflow: hidden;
  position: relative;
}

.melareturn .comparison-list > li .comparison-img-wrap .img-wrap::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 57.14%;
}

.melareturn .comparison-list > li .comparison-img-wrap .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.melareturn .comparison-list > li .comparison-img-wrap .txt-wrap {
  padding: 16px 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.melareturn .comparison-list > li .comparison-img-wrap.before .txt-wrap {
  background-color: #ddd;
}

.melareturn .comparison-list > li .comparison-img-wrap.after .txt-wrap {
  background-color: #BCE0F6;
}

[class*=ico-]::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.ico-check::before {
  width: 40px;
  height: 40px;
  background-image: url("../img/ico-check.png");
}
.ico-part1::before {
  width: 50px;
  height: 50px;
  background-image: url("../img/ico-part1.png");
}
.ico-part2::before {
  width: 50px;
  height: 50px;
  background-image: url("../img/ico-part2.png");
}
.ico-part3::before {
  width: 50px;
  height: 50px;
  background-image: url("../img/ico-part3.png");
}
.ico-info1::before {
  width: 120px;
  height: 120px;
  background-image: url("../img/ico-info1.png");
}
.ico-info2::before {
  width: 120px;
  height: 120px;
  background-image: url("../img/ico-info2.png");
}
.ico-info3::before {
  width: 120px;
  height: 120px;
  background-image: url("../img/ico-info3.png");
}
.ico-circle1::before {
  flex-shrink: 0;
  width: 156px;
  height: 156px;
  background-image: url("../img/ico-circle1.png");
}
.ico-circle2::before {
  flex-shrink: 0;
  width: 156px;
  height: 156px;
  background-image: url("../img/ico-circle2.png");
}
.ico-circle3::before {
  flex-shrink: 0;
  width: 156px;
  height: 156px;
  background-image: url("../img/ico-circle3.png");
}
.ico-circle4::before {
  flex-shrink: 0;
  width: 156px;
  height: 156px;
  background-image: url("../img/ico-circle4.png");
}
.ico-circle5::before {
  flex-shrink: 0;
  width: 156px;
  height: 156px;
  background-image: url("../img/ico-circle5.png");
}

.melareturn .sec-kv {
  padding: 220px 0;
  background: url(../img/seckv-bg.jpg) no-repeat center/cover;
}

.melareturn .sec-kv .tit-wrap .sub-txt {
  margin-bottom: 20px;
  font-size: 30px;
}

.melareturn .sec-kv .tit-wrap .tit {
  font-size: 100px;
  line-height: 1;
}

.melareturn .sec-kv .tit-wrap .tit strong {
  font-weight: 600;
}

.melareturn .sec-kv .tit-wrap .part-list {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.melareturn .sec-kv .tit-wrap .part-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  width: 120px;
  height: 120px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.melareturn .sec-banner {
  background: url(../img/sec-banner-bg.jpg) no-repeat center/cover;
}

.melareturn .sec-banner .txt-wrap {
  text-align: center;
}

.melareturn .sec-banner .txt-wrap .txt {
  font-size: 40px;
  font-weight: 200;
}

.melareturn .sec-banner .txt-wrap .txt.large {
  margin-top: 30px;
  font-size: 50px;
  font-weight: 200;
}

.melareturn .sec-banner .txt-wrap .quotes {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/ico-quotes.png) no-repeat center/cover;
  vertical-align: top;
}

.melareturn .sec-banner .txt-wrap .quotes.end {
  transform: rotate(180deg);
}

.melareturn .sec-01 {
  position: relative;
  background-color: #F3F3F3;
}

.melareturn .sec-01 .box-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.melareturn .sec-01 .box-wrap .box {
  overflow: hidden;
  border-radius: 30px;
}

.melareturn .sec-01 .box-wrap .box .comparison-img-wrap {
  position: relative;
  display: flex;
  height: 650px;
}

.melareturn .sec-01 .box-wrap .box .comparison-img-wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100%;
  background-color: #BCE0F6;
}

.melareturn .sec-01 .box-wrap .box .comparison-img-wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: url(../img/ico-arrow.png) no-repeat center/cover;
}

.melareturn .sec-01 .box-wrap .box.full {
  grid-column: 1/-1;
}

.melareturn .sec-01 .txt-wrap {
  padding: 16px 40px;
  font-size: 24px;
  font-weight: 700;
  color: #34425C;
  text-align: center;
  background-color: #BCE0F6;
}

.melareturn .sec-02 .thumb-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.melareturn .sec-02 .thumb-list li {
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.melareturn .sec-02 .thumb-list li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.melareturn .sec-03 {
  padding: 60px 0 0;
  background: #DEF3FF url(../img/sec03-bg.jpg) no-repeat center/cover;
}

.melareturn .sec-03 .inner {
  position: relative;
}

.melareturn .sec-03 .sec-tit-wrap {
  position: absolute;
  top: 100px;
  right: 0;
}

.melareturn .sec-03 .info-wrap .tag-wrap li {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 100px;
  background-color: #34425C;
  z-index: 1;
}

.melareturn .sec-03 .info-wrap .tag-wrap li::before {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  background: url(../img/ico-dot-line.png) no-repeat center right/cover;
  z-index: -1;
}

.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(1)::before {
  width: 445px;
  left: 0;
}

.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(2)::before {
  width: 320px;
  left: 0;
}

.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(3)::before {
  width: 308px;
  right: 0;
  transform: rotate(180deg);
}

.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(4)::before {
  width: 480px;
  right: 0;
  transform: rotate(180deg);
}

.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(1) {
  top: 456px;
  left: 170px;
}

.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(2) {
  top: 535px;
  right: 410px;
}

.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(3) {
  bottom: 430px;
  right: 320px;
}

.melareturn .sec-03 .info-wrap .tag-wrap li:nth-child(4) {
  bottom: 94px;
  right: 280px;
}

.melareturn .sec-04 .comparison-list > li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/ico-arrow-2.png) no-repeat center/cover;
}

.melareturn .sec-05 {
  background: #E7F2F9 url(../img/sec05-bg.jpg) no-repeat center/cover;
  text-align: center;
}

.melareturn .sec-05 .skin-type-wrap {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap {
  position: relative;
}

.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .txt-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px 40px;
  min-width: 180px;
  font-family: "GmarketSans", sans-serif;
  text-align: left;
  border-top-right-radius: 30px;
}

.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap.before .txt-wrap {
  background-color: #fff;
}

.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  width: 100px;
  height: 100%;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type1 li:nth-child(1) {
  background-color: #693E3B;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type1 li:nth-child(2) {
  background-color: #754240;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type1 li:nth-child(3) {
  background-color: #824C4B;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type1 li:nth-child(4) {
  background-color: #915450;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type1 li:nth-child(5) {
  background-color: #AC6765;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type2 li:nth-child(1) {
  background-color: #B76360;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type2 li:nth-child(2) {
  background-color: #C46865;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type2 li:nth-child(3) {
  background-color: #D17572;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type2 li:nth-child(4) {
  background-color: #DA8380;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type2 li:nth-child(5) {
  background-color: #D99391;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type3 li:nth-child(1) {
  background-color: #6A4F3D;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type3 li:nth-child(2) {
  background-color: #765741;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type3 li:nth-child(3) {
  background-color: #84624C;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type3 li:nth-child(4) {
  background-color: #936E53;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type3 li:nth-child(5) {
  background-color: #AD8266;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type4 li:nth-child(1) {
  background-color: #A57B60;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type4 li:nth-child(2) {
  background-color: #AB8165;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type4 li:nth-child(3) {
  background-color: #BD8E71;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type4 li:nth-child(4) {
  background-color: #C49976;
}
.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list.skin-type4 li:nth-child(5) {
  background-color: #CA9D7D;
}

.melareturn .sec-05 .skin-type-wrap .comparison-list > li .comparison-img-wrap .color-list li {
  flex: 1;
  border: 1px solid #fff;
}

.melareturn .sec-05 .skin-type-wrap .tit {
  text-align: center;
}

.melareturn .sec-05 .full-img-wrap {
  margin: 100px 0;
}

.melareturn .sec-06 {
  background: url(../img/sec06-bg.jpg) no-repeat center/cover;
}

.melareturn .sec-06 .inner {
  display: flex;
  align-items: center;
  gap: 20px;
}

.melareturn .sec-06 .txt-wrap {
  width: 48%;
}

.melareturn .sec-06 .txt-wrap .tit.line::after {
  content: "";
  display: block;
  margin: 20px 0;
  width: 2px;
  height: 50px;
  background-color: #34425C;
}

.melareturn .sec-06 .txt-wrap .tit-box .tit {
  margin-bottom: 20px;
}

.melareturn .sec-06 .txt-wrap .tit-box .tit:last-child {
  margin-bottom: 0;
}

.melareturn .sec-06 .txt-wrap .notice-txt {
  margin-top: 60px;
}

.melareturn .sec-06 .info-list {
  display: flex;
  gap: 20px;
  margin-left: auto;
  flex-shrink: 0;
}

.melareturn .sec-06 .info-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 50px;
  background-color: #fff;
  border-radius: 30px;
}

.melareturn .sec-06 .info-list li .txt {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.melareturn .sec-06 .info-list li .txt small {
  font-size: 20px;
  font-weight: 700;
}

.melareturn .sec-06 .info-list li .txt strong {
  font-size: 48px;
}

.melareturn .sec-07 .type-list {
  display: flex;
  gap: 30px;
}

.melareturn .sec-07 .type-list li {
  flex: 1;
}

.melareturn .sec-07 .type-list li:nth-child(1) .tit-wrap {
  background-color: #EBF6FC;
}

.melareturn .sec-07 .type-list li:nth-child(2) .tit-wrap {
  background-color: #DDEFFB;
}

.melareturn .sec-07 .type-list li:nth-child(3) .tit-wrap {
  background-color: #BCE0F6;
}

.melareturn .sec-07 .type-list li:nth-child(1) .img-wrap {
  border: 1px solid #EBF6FC;
}

.melareturn .sec-07 .type-list li:nth-child(2) .img-wrap {
  border: 1px solid #DDEFFB;
}

.melareturn .sec-07 .type-list li:nth-child(3) .img-wrap {
  border: 1px solid #BCE0F6;
}

.melareturn .sec-07 .type-list li .tit-wrap {
  padding: 30px;
  border-radius: 30px 30px 0 0;
}

.melareturn .sec-07 .type-list li .tit-wrap .tit {
  font-family: "GmarketSans", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.melareturn .sec-07 .type-list li .tit-wrap .desc {
  margin-top: 10px;
  font-size: 18px;
}

.melareturn .sec-07 .type-list li .img-wrap {
  padding: 30px;
  border-radius: 0 0 30px 30px;
}

.melareturn .sec-07 .type-list li .img-wrap .txt {
  padding: 6px 20px;
  width: fit-content;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #34425C;
  border-radius: 100px;
}

.melareturn .sec-08 {
  background-color: #DDEFFB;
}

.melareturn .sec-08 .thumb-list {
  display: flex;
  gap: 30px;
}

.melareturn .sec-08 .thumb-list li {
  overflow: hidden;
  position: relative;
  flex: 1;
  border-radius: 30px;
}

.melareturn .sec-08 .thumb-list li .txt-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.melareturn .sec-08 .thumb-list li .img-wrap {
  overflow: hidden;
  position: relative;
}

.melareturn .sec-08 .thumb-list li .img-wrap::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 87%;
}

.melareturn .sec-08 .thumb-list li .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.melareturn .sec-09 .info-wrap {
  display: flex;
  gap: 30px;
}

.melareturn .sec-09 .info-wrap .txt-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.melareturn .sec-09 .info-wrap .txt-list li {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
  font-size: 24px;
  background: linear-gradient(90deg, rgb(221, 239, 251) 0%, rgba(221, 239, 251, 0) 100%);
  border-radius: 20px;
}

.melareturn .sec-09 .info-wrap .txt-list li strong {
  font-size: 32px;
}

.melareturn .sec-09 .info-wrap .txt-list li .num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-family: "GmarketSans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: rgba(52, 66, 92, 0.7);
  background-color: #fff;
  border-radius: 50%;
}

.melareturn .sec-09 .info-wrap .img-wrap {
  overflow: hidden;
  position: relative;
  flex: 1;
  border-radius: 20px;
}

.melareturn .sec-09 .info-wrap .img-wrap::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 77%;
}

.melareturn .sec-09 .info-wrap .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.melareturn .sec-10 {
  background: url(../img/sec10-bg.jpg) no-repeat center/cover;
}

.melareturn .sec-10 .txt-box {
  padding: 70px;
  text-align: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
}

.melareturn .sec-10 .circle-list {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.melareturn .sec-10 .circle-list li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  font-size: 28px;
  font-weight: 700;
  border-radius: 50%;
  background-color: #BCE0F6;
}

.melareturn .sec-10 .circle-list li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -60%;
  display: block;
  width: 150px;
  height: 4px;
  background-color: #BCE0F6;
}

.melareturn .sec-10 .circle-list li:last-child::after {
  display: none;
}

.melareturn .sec-11 {
  background-color: #F5FAFD;
}

.melareturn .sec-11 .inner {
  position: relative;
}

.melareturn .sec-11 .circle-center {
  padding: 210px 0 100px;
  text-align: center;
}

.melareturn .sec-11 .circle-center .tit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 560px;
  height: 560px;
  background: url(../img/sec11-circle-center.png) no-repeat center/cover;
}

.melareturn .sec-11 .circle-center .tit p {
  margin-top: 35px;
}

.melareturn .sec-11 .circle-list li {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 50px;
}

.melareturn .sec-11 .circle-list li:nth-child(1) {
  top: 0;
  left: 380px;
}

.melareturn .sec-11 .circle-list li:nth-child(2) {
  top: 310px;
  left: 0;
}

.melareturn .sec-11 .circle-list li:nth-child(3) {
  bottom: 30px;
  left: 80px;
}

.melareturn .sec-11 .circle-list li:nth-child(4) {
  bottom: 30px;
  right: 0;
}

.melareturn .sec-11 .circle-list li:nth-child(5) {
  top: 310px;
  right: 20px;
}

.melareturn .sec-11 .circle-list li.ico-circle1::before {
  order: 1;
}

.melareturn .sec-11 .circle-list li.ico-circle2::before {
  order: 1;
}

.melareturn .sec-11 .circle-list li.ico-circle3::before {
  order: 1;
}

.melareturn .sec-11 .circle-list li .txt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.melareturn .sec-11 .circle-list li .txt strong {
  font-size: 28px;
  line-height: 1;
}

.melareturn .sec-11 .circle-list li .txt span {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.melareturn .sec-12 {
  background: url(../img/sec12-bg.jpg) no-repeat center/cover;
}

.melareturn .sec-12 .caution-list {
  margin: 0 auto;
  width: 800px;
}

.melareturn .sec-12 .caution-list li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 4px;
  padding: 4px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.4);
}

.melareturn .sec-12 .caution-list li:last-child {
  margin-bottom: 0;
}

.melareturn .sec-12 .caution-list li .num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-family: "GmarketSans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 50%;
}