@charset "UTF-8";
@use "./util" as *;
@use "./base" as *;

.inner{padding: 0 20px;}

section .inner{padding-top: 28px; padding-bottom: 28px;}
section::after{content: ''; display: block; width: 100%; height: 8px; background-color: var(--color-background);}
section:last-of-type:after{display: none;}
section:first-of-type .inner{padding-top: 20px;}

.c-primary{color: var(--color-text-primary);}
.highlight{background-color: var(--color-background-highlight);}

.decrease{color: var(--color-text-blue);}
.increase{color: var(--color-text-red);}

.sec-tit{margin-bottom: 12px; font-size: 16px; font-weight: 800;}

//ico
[class*="ico-"]::after{content: ''; display: block; background-repeat: no-repeat; background-size: 100% auto; background-position: center;}
.ico{
	$banner-icons: 'info', 'alarm';

	@each $icon in $banner-icons{
		&-banner-#{$icon}::after{
			flex-shrink: 0;
			width: 72px;
			height: 72px;
			background-image: url('#{$base-url}img/ico-banner-#{$icon}.png');
		}
	}

	@for $i from 1 through 10 {
    &-detail#{$i}::after{
			order: -1;
			width: 24px;
			height: 24px;
      background-image: url('#{$base-url}img/ico-detail#{$i}.png');
    }
  }
}

// content